$form-font-size: 16px;

form {
	input,
	select,
	textarea,
	label {
		font-size: $form-font-size !important;
	}
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	height: 2.85em;
}

.select2-container {
	font-size: $form-font-size;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 38px;
}
.select2-container .select2-selection--single {
	height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
}
.select2-container--default .select2-selection--single {
	border: 1px solid #ddd;
}

.woocommerce-account form .payment_methods p,
.woocommerce-checkout form .payment_methods p {
	font-size: $form-font-size !important;
}


/* source: https://codepen.io/triss90/pen/XNEdRe */
.radio {
  margin: 0 0 0.75em 0;
  padding: 0 0.5rem 0 0;
  position: relative;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
    	font-size: 15px;
    	font-weight: 400;
    	cursor: pointer;
    	padding-left: 25px;
    	position: relative;
      &:before {
        content: '';
        background: $radioColor1;
        border-radius: 100%;
        box-shadow: 0 0 0px 1px darken($radioColor1, 25%);
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: 5px;
        margin-right: 7px; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
        position: absolute;
        left: 1px;
      }
    }
    &:checked {
      + .radio-label {
        font-weight: 700;
        color: #333333;
        &:before {
          background-color: $radioColor2;
          box-shadow: inset 0 0 0 4px $white, 0 0 0px 1px darken($radioColor1, 25%);
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $radioColor2;
        }
      }
    }
    &:disabled {

      + .radio-label {
      	color: darken($radioColorDisabled, 10%);
      	cursor: not-allowed;
      	span.amount{
      		color: darken($radioColorDisabled, 10%);
      	}
        &:before {
          box-shadow: none;
          border-color: $radioColorDisabled;
          background: $radioColorDisabled;
          cursor: not-allowed;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
.gform_wrapper{
  form.form-no-labels{
    label,
    .gfield_label{
      display: none;
    }
    input {

    }&:placeholder {
      color: #808080;
    }
  }
} 
/**
 * GravityForms Subscribe style like form
 * No labels
 * Only One input field for the email
 * Inline submit button
 * subtle input shadow
 */

.gform_wrapper.subscribe-style_wrapper{
  &.gform_validation_error{
    form.subscribe-style{
      padding-top: 4em;
      .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
        border: 0;
        max-width: none!important;
        padding: 0;
      }
    }
  }

  form.subscribe-style{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .gform_body {
      flex-basis: 80%;
      ul.gform_fields{
        li.gfield{
          padding-right: 0;
          margin: 0;
          width: 100%;
          &.gf-mailchimp-integration-checkbox{
            display: none;
          }

          .ginput_container_email {
            input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']){
              border-radius: 30px 0 0 30px;
              border-right: 0;
              box-shadow: 0 0 5px rgba(0,0,0,0.2);
              line-height: 45px;
              max-width: 480px;
              min-height: 45px ;
              padding: 0 25px;
              width: 100% ;
            }
          }   
          &.gfield_error{
            input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']){
              box-shadow: 0 0 15px #e5bdc4;
              border-width: 2px;
            }
          }   
        }
      }
    }
    .validation_error {
      position: absolute;
      top: 0;
      left: 0;
    }
      /*.gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half)*/
    .gform_footer {
      flex-basis: 20%;
      margin-top: 0;
      input[type="submit"]{
        background: $shop_button_bg_color_hover;
        border-radius: 0 30px 30px 0;
        color:$white;
        display: flex;
        font-family:$fontFamilySecondary;
        font-weight: 600;
        justify-content: center;
        line-height: 45px;
        margin-right: 0;
        padding: 0 30px;
        transition: all 0.25s 0.2s $accelerate_easing;
        @media screen and (max-width: 480px) {
          padding: 0 15px;
        }
      }
    }
  }
}
